@import "compass";
@import "_reset";
@import "_fonts";
@import "_icons";
@import "_base";

/* BASIC STYLES
-------------------------------------------------------------- */
*{
  @include box-sizing('border-box');

  img{
    max-width: 100%;
    height: auto;
  }
}

body{
  font: 16px/1.5 $font_main;
  background-color: $page_bg;  
  color: $color_main;
}

a{
  @include transition;
  color: $color_main;
  text-decoration: none;
  
  &:hover{
    color: $color_accent;
  }
}


h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  letter-spacing: 5px;
  margin-bottom: 40px;
}


ul,
ul.menu,
ul.menu li{
  list-style: none;
  text-align: inherit;
  margin: 0;
  padding: 0;
}

li a.active,
li.opened span.nolink{color: $color_main;}

/* Layout
-------------------------------------------------------------- */
#header-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  padding: $spacer_main / 2;
  width: 300px;
  
  @include bp(s){
    position: relative;
  }

  @include bp(s){
    position: relative;
    top: auto;
    max-width: 100%;
    margin: 0 auto;
  }

}

.front #header-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
  z-index: 1;
  
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjk3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 15%, rgba(255,255,255,0.97) 16%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(15%,rgba(255,255,255,1)), color-stop(16%,rgba(255,255,255,0.97)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 15%,rgba(255,255,255,0.97) 16%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 15%,rgba(255,255,255,0.97) 16%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 15%,rgba(255,255,255,0.97) 16%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
  background: linear-gradient(135deg,  rgba(255,255,255,1) 15%,rgba(255,255,255,0.97) 16%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );


}

#logo{
  position: relative;
  z-index: 10;
}

.region-nav-main{
  position: relative;
  z-index: 10;

  a,
  span{
    padding-bottom: $spacer_main / 2;
    display: block;
    font-size: 12px;
    letter-spacing: 3px;
  }
}
.social-icons{
  text-align: center;
  position: relative;
  z-index: 10;
}

#main-nav{
  @include pie-clearfix;
  text-transform: uppercase;
  letter-spacing: 5px;

	ul{
    text-align: center;
  }

	li{

  }

	a{


		&:hover{}

		&.active{}
	}

  @include bp(s){
    text-align: center;

    ul{
      text-align: center !important;
    }

    li{
      display: block;
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
}

#menu{
  display: block;
  z-index: 100;
  position: relative;
  text-align: center;

  @include bp(s){
    display: none;
  }

  @include bp(s){
    padding-bottom: 20px; 
  }
}

.menu-toggle{
  @include transition;
  display: none;
  position: fixed;
  z-index: 900;
  top: 20px;
  right: 20px;
  background-color: $color_main;
  color: $page_bg;
  padding: 5px;
  font-size: 2em;
  cursor: pointer;
  letter-spacing: 0;


  &:hover{
    background-color: $color_accent;
  }


  @include bp(s){
     display: block;
  }
}



#main-container{
  margin-top: 60px;
}

#bg-images{
  position: absolute;
  z-index: 0;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
}

.not-front #main-container{
  margin-left: 275px;

  @include bp(s){
    margin: 0 10px; 
  }
}

.front{
  
  #menu{
    @include bp(s){
      display: block;
    }
  }

  .menu-toggle{
    @include bp(s){
      display: none;
    }
  }
}

/* IMAGE GALLERY
-------------------------------------------------------------- */

.gallery,
.video{
  
  .images{
    padding-right: 20px;

    @include bp(s){
      padding-right: 0;
    }

    li{
      margin: 0 0 20px;
      text-align: center;
    }
  }

  .body{
    max-width: 500px;
    margin: 0 auto 40px;
    font-family: $font_header;
    font-size: 14px;
    text-align: justify;
  }

  .caption{
    font-size: 10px;
  }

  .back-to-top{
    @include transition;
    display: block;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: .8em;

    &:hover{
      color: $color_accent;
    }
  }
}

.gallery.teaser,
.video.teaser{
  width: 25%;
  float: left;
  padding-right: 20px;
  margin-bottom: 40px;

  h2{
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  @include bp(l){
    width: 33%;
  }

  @include bp(m){
    width: 50%;
  }

  @include bp(s){
    width: 100%;
    float: none;
    padding: 0;
  }
}


.video.full{
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 100px;

  h2{
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .share-post{
    text-align: center;
  }
}


.contact{
  p{
    margin-bottom: 20px;
  }

  .social-icons{
    font-size: 1.5em;
  }
}

/* EXTRAS
-------------------------------------------------------------- */
.krumo-root{
  z-index: 1000;
}

.service-links{

  li{
    @include inline-block;
  }
}





